* {
    font-family: 'Luckiest Guy', cursive;
}

body {
    margin: 0;
    background-image: url(./img/Screen-Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 60px;
    color: #2F2771;
}

button {
    background-color: #388fc3;
    color: white;
    border-radius: 25px;
    border: 5px white solid;
    font-size: 28px;
    cursor: pointer;
}

button:hover {
    background-color: #1e709f;
}

.d-none {
    display: none;
}

.t-center {
    text-align: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas{
    display: none;
}

.wrapper {
    width: 720px;
    height: 480px;
    position: relative;
}

.startscreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
    /* position: absolute; */
    width: 100%;
    min-height:480px;
    height: 100%;
    box-sizing: border-box;
    /* top: 0;
    left: 0; */
    background-image: url('./img/startscreen-background.png');
}

.startscreen p {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 32px;
    margin: 0;
}

.startscreen span {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-top: 8px;
    margin: 0;
}

.endscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2e2771b7;
    display: none;
    flex-direction: column;
    align-items: center;
}

.settings {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px ;
    align-self: flex-start;
    /* justify-self:end; */
    width: fit-content;
    background-color: #2e2771b7;
}

.small-instructions {
    width: 720px;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.small-instructions span {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#loose-screen {
    justify-content: center;
}

#img-win {
    width: 720px;
    cursor: pointer;
    justify-self: left;
}

#img-loose {
    display: block;
    width: 620px;
}

#collected-coins {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#coin-text {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin: 0;
}

.startscreen-btn {
    height: 60px;
    width: 240px;
    font-size: 28px;
}

.endscreen-btn {
    margin-top: 40px;
    height: 60px;
    width: 240px;
    font-size: 28px;
}

.instruction-btn {
    height: 60px;
    width: 60px;
    font-size: 28px;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.vertical-btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.key-wrapper {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}